.BotonForm{
    color: #ffffff;
    font-size: 32px;
    background-color: green;
    border-color: white;
    -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-align: center;
  margin-top: 10px;
  padding:5px
}
.BotonForm:hover{
    background-color: blue;
}
.Formulario {
    margin-top: 50px;
}
.Formulario h1{
    color:#000000;
}
.Formulario h2{
    color:#804400;
    margin-top: 55px;
}
.Formulario input{
    margin-top: 30px;;
}
.Formulario span{
    margin-right: 10px;;
}